/*****************************TAG STYLES**********************************/
.my-body{
    margin:0;
    background-image: 'CSS/images/floor-tile.png';
    background-repeat: no-repeat;
      }

h1 {
    color: #543A14;
    margin: 10px auto 0 auto;
    font-family: 'Atkinson Hyperlegible Next', serif;
    font-size: 4rem;
    line-height: 1.2;
}

h2 {
    color: #543A14;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
}

p {
    margin: 0 auto 0 auto;
    line-height: 1.5;  
    text-align: justify;
    color: #543A14;
    font-size: 20px;
}


hr {
    border-style: dotted none none;
    width: 5%;
    border-width: 7px;
    border-color: #3C8DAD;
    margin:100px auto;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: white;
}

form {
    max-width:600px;
    min-width:250px;
    padding-bottom:10px;
    border: 0px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    background-color:white
    }

    input[type=text] {
    width:90%;
    padding:10px;
    margin-top:30px;
    border:1px solid #3C8DAD;
    padding-left:40px;
    font-size:16px;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    }
    
    textarea {
    background-position:5px 7px;
    width:90%;
    height:95px;
    padding:10px;
    resize:none;
    margin-top:30px;
    border:1px solid #3C8DAD;
    padding-left:40px;
    font-size:16px;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    margin-bottom:30px
    }
    

/*****************************CLASS**********************************/
.bottom-container {
    background-color: #543A14;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center
}


.contact-me {
    width:40%;
    margin:40px auto 60px;
}

.copyright {
    color: white;
    font-size: 0.75rem;
    text-align: center;
}

.jornal-victoriano{
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    border: 50px solid #ADA991;
    border-radius: 10px;
    padding: 0px;    
}

.frame-victoriano{
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    border: 50px solid #543A14;
    border-radius: 10px;
    padding: 0px;     
}

.left-manoel {
    background-color: #ADA991;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manoel {
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2px;
}

.right-manoel {
    text-align: center;
    color: #543A14;
    padding: 10px 20px 10px 20px;
    
}
.navbar-color {
    background-color: #3C8DAD;
    font-weight: bolder;
    margin-bottom: 0;
    padding-bottom: 0;
} 
 
.nav-item.dropdown.show {
    background-color: white;
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.ufpe{
    margin:0;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    color: #3C8DAD;
}

.ufpe:hover {
    font-weight: bold;
    color: #3C8DAD;
}

.left-victoriano {
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: auto;
}

.middle-victoriano {
    height: 600px;
    background-color: #543A14;
}

.right-victoriano {
    height: 600px;
    background-color: #ADA991;
}

.victoriano {
    display: grid;
    height: 600px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

/*****************************ID**********************************/

#head_font {
color: #3C8DAD;
font-weight: bolder;
}

#send {
    background: #6792a1;
    background-image: -webkit-linear-gradient(top, #6792a1, #388cab);
    background-image: -moz-linear-gradient(top, #6792a1, #388cab);
    background-image: -ms-linear-gradient(top, #6792a1, #388cab);
    background-image: -o-linear-gradient(top, #6792a1, #388cab);
    background-image: linear-gradient(to bottom, #6792a1, #388cab);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  #send:hover {
    background: #82b3c2;
    background-image: -webkit-linear-gradient(top, #82b3c2, #5195ad);
    background-image: -moz-linear-gradient(top, #82b3c2, #5195ad);
    background-image: -ms-linear-gradient(top, #82b3c2, #5195ad);
    background-image: -o-linear-gradient(top, #82b3c2, #5195ad);
    background-image: linear-gradient(to bottom, #82b3c2, #5195ad);
    text-decoration: none;
  }




#right-container3 {
    font-size: 20px;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

#left-container3 {
    background-color: #ADA991;
    padding: 10px 20px 10px 20px;
    height: 400px
}
/**************************small screen adjustments***************/

    @media(max-width:1113px){
        .data_analysis_bottom {
            position: absolute;
            width: 15%;
            left:10px;
            bottom: 80px;
        }
        .data_analysis_top {
            position:absolute;
            right:10px;
            top: 80px;
            width: 15%;
        }
        .top-container {
            background-color: #3C8DAD;
            position: relative;
            padding-top: 80px;
            padding-bottom: 150px;
        }
    }
        

        @media(max-width:400px){

            .a-bold{
                font-weight: bolder;
            }

            .arcgis {
                width: 16%;
                margin-left: 10px;
            }

            .copyright {
                color: white;
                font-size: 1rem;
            }

            .data_analysis_bottom {
                position: absolute;
                width: 15%;
                left:10px;
                bottom: 80px;
            }

            .data_analysis_top {
                position:absolute;
                right:10px;
                top: 20px;
                width: 15%;
            }

            h1 {
                color: white;
                margin: 10px auto 0 auto;
                font-family: 'Sacramento', cursive;
                font-size: 4rem;
                line-height: 1;
            }

            h2 {
                color: #3C8DAD;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
            }
    
            .office {
                width: 15%;
                margin-left: 10px;
            }
            
            .ow {
                width: 14%;
                margin-left: 10px;
            }

            .p {
                margin: 0 auto 0 auto;
                line-height: 1.5;
                font-size:xx-large;  
            }

            #p-rules {
                font-size:100px;
            }

            .profile {
                width: 40%;
            }

            .profile-bia {
                width: 40%;
            }

            .profile-chloe {
                width: 40%;
            }

            .postgresql {
                width: 15%;
                margin-left: 10px;
            }
            
            .powerbi{
                width: 17%;
                margin-left: 10px;
            }
            
            .python {
                width: 15%;
                margin-left: 10px;
            }
            
            .qgis {
                width: 16%;
                margin-left: 10px;
            }

            .size-h3 {
                font-size: 1.2rem;
                font-weight: bolder;
            }

            .table-font {
                font-size: 10rem;
            }

            .top-container {
                background-color: #3C8DAD;
                position: relative;
                padding-top: 80px;
                padding-bottom: 150px;
            }
 
            .wasp {
                width: 14%;
                margin-left: 10px;
            }
            
            .web {
                width: 14%;
                margin-left: 10px;
            }
            
            .windog {
                width: 16%;
                margin-left: 10px;
            }
            
            .wind_farmer {
                width: 15%;
                margin-left: 10px;
            }
            
            .wind_pro {
                width: 16%;
                margin-left: 10px;
            }
            
            .windsim {
                width: 16%;
                margin-left: 10px;
             }
        }
